#title {font-size: 20px;
  color: white;
  font-family:"Impact";
  font-style:light;
  padding-top:250px;
  margin-left:200px;
  left: 315px;
  position:absolute;
}
p {font-size: 18px;
  color: white;
  font-family:"Verdana";
  padding-top:100px;
  margin-left:200px;
  position:absolute;
  text-align: left;
  left: 240px;
  font-weight: normal;
  animation: fadein 7s;
    -moz-animation: fadein 7s; /* Firefox */
    -webkit-animation: fadein 7s; /* Safari and Chrome */
    -o-animation: fadein 7s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.pull-right {display:inline;
margin-:100px;}
.pull-left {display:inline;}
.nav a {
  color: white;
  font-size: 14px;
  font-family:Arial;
  padding: 14px 5px;
  text-transform: capitalize;
  padding-top: 100px;
  margin-right:20px;
}

.nav li {
  display: inline;
  padding-top: 100px;
}

body { background-color: black;
width: 600px;
height:500px;
float:left;}

#page{padding-top: 50px;
        margin-left:1300px;
        float:left;}

#footer{
    background-color:white;
    text-align:center;
    padding :25px; 
    position: fixed;
    margin-top:600px;
    width: 1300px;
    font-family: "Verdana"

  }