.pull-right {display:inline;
}
.pull-left {display:inline;}

.nav a{
    color: white;
    font-size: 11px;
    font-family: "Helvetica Neue";
    font-weight: normal;
    padding: 14px 1px;
    text-transform: uppercase;
  padding-top:0px;
  margin-right:50px;
    } 

.nav li {
  display: inline;
  padding-top:5px;
}

body {
  position:relative;
  background-image: url(https://www.dropbox.com/s/pjtygkfsduzvn1i/girl.jpg?dl=1);
  background-color: #cccccc;
  background-size: cover;
  background-position: center;

  font-family: "Helvetica Neue";
  color: white;
}
.jumbotron .container {
    position:relative;
}

.jumbotron .container h1{
   padding: 23px;
  color: white;
  font-family: helvetica neue;
  font-weight:regular;
  font-size: 48px;
  margin-left:120px;
  margin-right:120px;
  margin-top: 100px;
  position: fixed;
}

.jumbotron p {
  color:white;
  font-family:helvetica neue;
  font-size: 18px;
  margin-left:120px;
  margin-right:120px;
  margin-top: 100px;


}

.collection-type-index.title--description-position-over-image .title-desc-wrapper.has-main-image .title-desc-inner {
margin: 1000;
max-width: 1000%;
}

.learn-more {
  color: #f7f7f7;
  margin-top: 800px;
  margin-bottom: 0px
  font-size: 16px;

}

.learn-more h3 {
  
  font-family: "Helvetica Neue";
  font-size: 21px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
  margin-bottom: 0px
  font-size: 16px;
}

.neighborhood-guides{
    background-color:#efefef;
    border-bottom:1px solid #dbdbdb;
    }
    
    
   .jumbotron .container p2{
     color:white;
    font-size:18px;
    margin-bottom:0px;}